---
import Layout from '../../../layouts/Layout.astro';

import Header from '../../../components/Header.astro';
import PanelFeatures from '../../../components/projects/censydiam/PanelFeatures.astro';
import RecruitmentForm from '../../../components/projects/censydiam/RecruitmentForm.astro';
import Footer from '../../../components/Footer.astro';

// CSS to be optimized
import '../../../assets/styles/projects/censydiam/censydiam.css';

// Images
import { Image } from 'astro:assets';
import imgMonkey from '../../../assets/images/projects/censydiam/monkey.png';
import imgDolphin from '../../../assets/images/projects/censydiam/dolphin.png';
import imgBear from '../../../assets/images/projects/censydiam/bear.png';
import imgKangaroo from '../../../assets/images/projects/censydiam/kangaroo.png';
import imgLion from '../../../assets/images/projects/censydiam/lion.png';
import imgDog from '../../../assets/images/projects/censydiam/dog.png';
import imgFox from '../../../assets/images/projects/censydiam/fox.png';
import imgSquirrel from '../../../assets/images/projects/censydiam/squirrel.png';


// Logic for displaying different results
interface Props {
	txtTitle: string;
    txtColor: string; // Add text-white or not
	txtDescription: string;
	imgAnimal: string;
    txtAltAnimal: string;
}

const { href, title, body } = Astro.props;

{resultType === 'orange' ? (
    const txtTitle = ''


) : resultType === 'black' ? (
    <div>
        <h2>{txtTitle}</h2>
        <p>{txtDescription}</p>
        <img src={imgAnimal} alt={txtAltAnimal} />
    </div>

    ) : resultType === 'yellow' ? (
    <div>
        <h2>{txtTitle}</h2>
        <p>{txtDescription}</p>
        <img src={imgAnimal} alt={txtAltAnimal} />
    </div>

    ) : resultType === 'brown' ? (
    <div>
        <h2>{txtTitle}</h2>
        <p>{txtDescription}</p>
        <img src={imgAnimal} alt={txtAltAnimal} />
    </div>

    ) : resultType === 'purple' ? (
    <div>
        <h2>{txtTitle}</h2>
        <p>{txtDescription}</p>
        <img src={imgAnimal} alt={txtAltAnimal} />
    </div>

    ) : resultType === 'blue' ? (
    <div>
        <h2>{txtTitle}</h2>
        <p>{txtDescription}</p>
        <img src={imgAnimal} alt={txtAltAnimal} />
    </div>

    ) : resultType === 'green' ? (
    <div>
        <h2>{txtTitle}</h2>
        <p>{txtDescription}</p>
        <img src={imgAnimal} alt={txtAltAnimal} />
    </div>

    ) : resultType === 'red' ? (
    <div>
        <h2>{txtTitle}</h2>
        <p>{txtDescription}</p>
        <img src={imgAnimal} alt={txtAltAnimal} />
    </div>
)}
---

<Layout title='Creative'>
    <Header/>
    <!-- START: Intro -->
    <div class="panel panel-results panel-results-orange">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">                    
                    <p class="mb-1">Your superpower is...</p>
                    <h1>{txtTitle}</h1>
                    <p class="lead">{txtDescription}</p>
                    <div class="text-center">
                        <Image src={imgAnimal} class="img-fluid" alt="{txtAltAnimal}" />
                    </div>
                    <hr class="mb-4">
                    <p class="lead">Your adventure has only just begun! Uncover more traits of your <strong>Loyal Protection</strong> superpower and use them to influence the world around you.</p>
                    <p class="lead">Join the Ipsos iSay community, where every opinion holds the power to shape the future.</p>
                    <p class="lead">Sign up to unlock more insights and make an impact!</p>
                </div><!-- col -->
                <div class="col-12 col-lg-6">
                    <h2 class="fs-3">Sign up for Ipsos iSay</h2>              
                    <RecruitmentForm/>
                </div><!-- col  -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- END: Intro -->
  
    <PanelFeatures/>
    <Footer/>

    <button type="button" class="btn btn-sm btn-primary btn-results" data-bs-toggle="modal" data-bs-target="#resultsModal">
        + Results
    </button>

    <!-- JUST FOR THE PROTOTYPE: Not used in production -->
    <!-- Modal -->
    <div class="modal fade" id="resultsModal" tabindex="-1" aria-labelledby="resultsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="resultsModalLabel">More results</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><a class="dropdown-item" href="results_orange">Creative (orange)</a></li>
                        <li><a class="dropdown-item" href="results_black">Pragmatist (black)</a></li>
                        <li><a class="dropdown-item" href="results_yellow">Connector (yellow)</a></li>
                        <li><a class="dropdown-item" href="results_brown">Empathizer (brown)</a></li>
                        <li><a class="dropdown-item" href="results_purple">Leader (purple)</a></li>
                        <li><a class="dropdown-item" href="results_blue">Protector (blue)</a></li>
                        <li><a class="dropdown-item" href="results_green">Expert (green)</a></li>
                        <li><a class="dropdown-item" href="results_red">Explorer (red)</a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</Layout>

<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>