---
// Images
import { Image } from 'astro:assets';

import imgCarouselPromo01 from '../../assets/images/p1/recruitment/organic/man-woman.jpg';
import imgCarouselPromo02 from '../../assets/images/p1/recruitment/organic/man.jpg';
import imgCarouselPromo03 from '../../assets/images/p1/recruitment/organic/woman.jpg';
import imgCarouselPromo04 from '../../assets/images/p1/recruitment/organic/man-children.jpg';

import iconCarouselPromo01 from '../../assets/images/icons/fa-camera.svg';
import iconCarouselPromo02 from '../../assets/images/icons/fa-box-open.svg';
import iconCarouselPromo03 from '../../assets/images/icons/fa-comments.svg';
import iconCarouselPromo04 from '../../assets/images/icons/icon-survey.svg';

---

<div id="carouselExampleIndicators" class="carousel slide">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
          <div class="row align-items-center">
            <div class="col-md-5">
              <Image src={imgCarouselPromo01} class="img-fluid" alt="" aria-hidden="true" />
            </div>
            <div class="col-md-7 text-start px-4">
              <Image src={iconCarouselPromo01} class="d-none d-lg-block mb-3" alt="" aria-hidden="true" />
              <h2 class="h5 mt-2 mb-1 pt-1 mt-md-0 pt-md-0">Live studies</h2>
              <p class="fs-7">Collaborate in real-time with fellow Ipsos iSay members. In these scheduled sessions, you'll complete interactive surveys to share your insights on various topics and shape future products and services.</p>
            </div>
          </div>
        </div>
      </div>

      
    </div>

    <div class="carousel-item">
      <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
          <div class="row align-items-center">
            <div class="col-md-5">
              <Image src={imgCarouselPromo02} class="img-fluid" alt="" aria-hidden="true" />
            </div>
            <div class="col-md-7 text-start px-4">
              <Image src={iconCarouselPromo02} class="d-none d-lg-block mb-3" alt="" aria-hidden="true" />
              <h2 class="h5 mt-2 mb-1 pt-1 mt-md-0 pt-md-0">Product testing</h2>
              <p class="fs-7">Try new or redesigned products before they hit the market and take follow-up surveys to share your feedback. It's a fun way to make an impact while discovering innovative products.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
          <div class="row align-items-center">
            <div class="col-md-5">
              <Image src={imgCarouselPromo03} class="img-fluid" alt="" aria-hidden="true" />
            </div>
            <div class="col-md-7 text-start px-4">
              <Image src={iconCarouselPromo03} class="d-none d-lg-block mb-3" alt="" aria-hidden="true" />
              <h2 class="h5 mt-2 mb-1 pt-1 mt-md-0 pt-md-0">Special communities</h2>
              <p class="fs-7">Join a topic-based research group and take part in ongoing surveys, engaging discussion boards, and other interesting activities. You’ll make your voice heard on a continual basis in a vibrant and influential community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
          <div class="row align-items-center">
            <div class="col-md-5">
              <Image src={imgCarouselPromo04} class="img-fluid" alt="" aria-hidden="true" />
            </div>
            <div class="col-md-7 text-start px-4">
              <Image src={iconCarouselPromo04} class="d-none d-lg-block mb-3" alt="" aria-hidden="true" />
              <h2 class="h5 mt-2 mb-1 pt-1 mt-md-0 pt-md-0">Activity Journals</h2>
              <p class="fs-7">Offers a quick and convenient way to share your opinions on a variety of topics through short surveys. This is perfect for those who want to make a meaningful impact without spending too much time.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<style>
  .carousel {
    height: 380px;
    margin-bottom: 40px !important;
  }

  .carousel-control-prev, .carousel-control-next {
    bottom: 25px;
  }

  .carousel-control-prev {
    left: -50px !important;
  }

  .carousel-control-next {
    right: -45px !important;
  }

  .carousel-indicators  {
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: -20px !important;
    display: block;
  }

  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: var(--bg-secondary-default);
    border-radius: 50%;
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .carousel {
      height: 320px;
      margin-bottom: 110px !important;
    }
    .carousel-control-prev {
      left: -60px !important;
      bottom: 55px !important;
    }
    .carousel-control-next {
      right: -45px !important;
      bottom: 55px !important;
    }
    .carousel-indicators  {
      margin-bottom: -70px !important;
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .carousel {
      height: 200px;
      margin-bottom: 80px !important;
    }
    .carousel-indicators  {
      margin-bottom: -40px !important;
    }
    .carousel-control-prev {
      left: -80px !important;
    }
    .carousel-control-next {
      right: -52px !important;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .carousel {
      height: 200px;
      margin-bottom: 80px !important;
    }
    .carousel-control-prev {
      left: -60px !important;
    }
    .carousel-control-next {
      right: -45px !important;
    }
    .carousel-indicators  {
      margin-bottom: -40px !important;
    }
  }

  @media (min-width: 1200px) {
    .carousel {
      height: 250px;
      margin-bottom: 90px !important;
    }

    .carousel-control-prev, .carousel-control-next {
      bottom: 25px;
    }

    .carousel-indicators  {
      margin-bottom: -50px !important;
    }
  }


  .carousel-control-prev-icon {
    background-image: url('../../assets/images/icons/carousel-arrow-left.svg');
  }

  .carousel-control-next-icon {
    background-image: url('../../assets/images/icons/carousel-arrow-right.svg');
  }





</style>