---
// Images
import { Image } from 'astro:assets';

import imgCarouselReward01 from '../../assets/images/p1/recruitment/organic/carousel-card-visa.png';
import imgCarouselReward02 from '../../assets/images/p1/recruitment/organic/carousel-card-amazon.png';
import imgCarouselReward03 from '../../assets/images/p1/recruitment/organic/carousel-card-paypal.png';
import imgCarouselReward04 from '../../assets/images/p1/recruitment/organic/carousel-card-starbucks.png';
import imgCarouselReward05 from '../../assets/images/p1/recruitment/organic/carousel-card-apple.png';

---

<!-- <div id="rewardCarousel" class="rewards__cards--marquee" data-bs-ride="carousel"> -->
  <div class="rewards | container">
  <div class="rewards-cards">
    <div id="scroller" class="rewards-cards--marquee">

          <div class="card-reward text-center">
            <Image src={imgCarouselReward01} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
            <p><i class="fa-solid fa-star text-warning"></i> <strong>500</strong></p>
          </div>
          <div class="card-reward text-center">
            <Image src={imgCarouselReward02} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
            <p><i class="fa-solid fa-star text-warning"></i> <strong>2000</strong></p>
          </div>
          <div class="card-reward text-center">
            <Image src={imgCarouselReward03} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
            <p><i class="fa-solid fa-star text-warning"></i> <strong>2500</strong></p>
          </div>
          <div class="card-reward text-center">
            <Image src={imgCarouselReward04} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
            <p><i class="fa-solid fa-star text-warning"></i> <strong>1500</strong></p>
          </div>
          <div class="card-reward text-center">
            <Image src={imgCarouselReward05} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
            <p><i class="fa-solid fa-star text-warning"></i> <strong>2500</strong></p>
          </div>

  </div>   </div> 

  <style>
 .card-reward {
    border-radius: 24px;
    border: 1px solid #282828;
    display: flex;
    width: 225px;
    height: auto;
    padding: 24px;
    flex-direction: column;
    gap: 24px;
    transition: all 0.2s ease-in-out;
  }


  .rewards-cards--marquee {
    --gap: 48px;
    display: flex;
    padding: 72px 36px 72px 36px;
    gap: var(--gap);
    opacity: 0px;
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
  }

  .rewards-cards--marquee:hover {
    animation-play-state: paused;
  }

  .rewards-cards--marquee {
    --animation-duration: 50s;

    width: max-content;
    display: flex;
    gap: var(--gap);
    animation: scroll var(--animation-duration) linear infinite;
  }

  @media (max-width: 1000px) {
    .rewards {
      flex-direction: column;
      align-items: center;
      gap: var(--gap);
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - calc(var(--gap) / 2)));
    }
  }
</style>

<script>
  const scroller = document.querySelector('#scroller');
  const cardReward = document.querySelectorAll('.card-reward');

  cardReward.forEach((reward) => {
    const duplicateContent = reward.cloneNode(true);
    scroller?.appendChild(duplicateContent);
  });
</script>