---
// Images
import { Image } from 'astro:assets';

import imgCarouselReward01 from '../../assets/images/p1/recruitment/organic/carousel-card-visa.png';
import imgCarouselReward02 from '../../assets/images/p1/recruitment/organic/carousel-card-amazon.png';
import imgCarouselReward03 from '../../assets/images/p1/recruitment/organic/carousel-card-paypal.png';
import imgCarouselReward04 from '../../assets/images/p1/recruitment/organic/carousel-card-starbucks.png';
import imgCarouselReward05 from '../../assets/images/p1/recruitment/organic/carousel-card-apple.png';

---

<div class="rewards">
  <div class="rewards-slide">
    <div class="card-reward text-center">
      <Image src={imgCarouselReward01} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
      <p><i class="fa-solid fa-star text-warning"></i> <strong>500</strong></p>
    </div>
    <div class="card-reward text-center">
      <Image src={imgCarouselReward02} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
      <p><i class="fa-solid fa-star text-warning"></i> <strong>2000</strong></p>
    </div>
    <div class="card-reward text-center">
      <Image src={imgCarouselReward03} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
      <p><i class="fa-solid fa-star text-warning"></i> <strong>2500</strong></p>
    </div>
    <div class="card-reward text-center">
      <Image src={imgCarouselReward04} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
      <p><i class="fa-solid fa-star text-warning"></i> <strong>1500</strong></p>
    </div>
    <div class="card-reward text-center">
      <Image src={imgCarouselReward05} class="img-fluid" alt="Gift Card 1" aria-hidden="true" />
      <p><i class="fa-solid fa-star text-warning"></i> <strong>2500</strong></p>
    </div>
  </div>
</div>


<style>

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.rewards {
  overflow: hidden;
  padding: 20px 0 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.rewards:before,
.rewards:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.rewards:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.rewards:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.rewards:hover .rewards-slide {
  animation-play-state: paused;
}

.rewards-slide {
  display: inline-flex;
  animation: 55s slide infinite linear;
}

.card-reward {
  height: auto;
  min-width: 180px;
  margin: 0 40px;
  float: left;
  overflow: hidden;
}

</style>

<script>
  var copy = (document.querySelector(".rewards-slide") as Node)?.cloneNode(true);
  document.querySelector(".rewards")?.appendChild(copy);
</script>